<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard V.1 | Kiaalap - Kiaalap Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.css">
    <link rel="stylesheet" href="/stylesheets/owl.theme.css">
    <link rel="stylesheet" href="/stylesheets/owl.transitions.css">
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/meanmenu.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/educate-custon-icon.css">
    <link rel="stylesheet" href="/stylesheets/morrisjs/morris.css">
    <link rel="stylesheet" href="/stylesheets/scrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/stylesheets/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/stylesheets/metisMenu/metisMenu-vertical.css">
    <link rel="stylesheet" href="/stylesheets/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/stylesheets/calendar/fullcalendar.print.min.css">
    <link rel="stylesheet" href="/stylesheets/summernote/summernote.css">
    <link rel="stylesheet" href="/stylesheets/util.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <link rel="stylesheet" href="/stylesheets/datapicker/datepicker3.css">

    <script src="/javascripts/vendor/modernizr-2.8.3.min.js"></script>
    <script src="/javascripts/vendor/jquery-1.12.4.min.js"></script>
    <style>
        .metismenu > .active {
            background: #007bff;
            color: #000;
        }
    </style>
</head>

<body>
    <%- include('commons/left-sidebar') %>

    <div class="all-content-wrapper">
        <%- include('./commons/topnav') %>

        <%- include(page) %>
    </div>


    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/wow.min.js"></script>
    <script src="/javascripts/jquery-price-slider.js"></script>
    <script src="/javascripts/jquery.meanmenu.js"></script>
    <script src="/javascripts/owl.carousel.min.js"></script>
    <script src="/javascripts/jquery.sticky.js"></script>
    <script src="/javascripts/jquery.scrollUp.min.js"></script>
    <script src="/javascripts/counterup/jquery.counterup.min.js"></script>
    <script src="/javascripts/counterup/waypoints.min.js"></script>
    <script src="/javascripts/counterup/counterup-active.js"></script>
    <script src="/javascripts/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/javascripts/scrollbar/mCustomScrollbar-active.js"></script>
    <script src="/javascripts/metisMenu/metisMenu.min.js"></script>
    <script src="/javascripts/metisMenu/metisMenu-active.js"></script>
    <script src="/javascripts/morrisjs/raphael-min.js"></script>
    <script src="/javascripts/sparkline/jquery.sparkline.min.js"></script>
    <script src="/javascripts/sparkline/jquery.charts-sparkline.js"></script>
    <script src="/javascripts/sparkline/sparkline-active.js"></script>
    <script src="/javascripts/calendar/moment.min.js"></script>
    <script src="/javascripts/calendar/fullcalendar.min.js"></script>
    <script src="/javascripts/calendar/fullcalendar-active.js"></script>
    <script src="/javascripts/plugins.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/tawk-chat.js"></script>
    <script src="/javascripts/input-mask/jasny-bootstrap.min.js"></script>
    <script src="/javascripts/datapicker/bootstrap-datepicker.js"></script>
    <script src="/javascripts/datapicker/datepicker-active.js"></script>
    <script src="/javascripts/summernote/summernote.min.js"></script>
    <!-- <script src="/javascripts/tawk-chat.js"></script> -->
</body>

</html>
