<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html"><img class="main-logo" src="/images/logo/logo.png" alt="" width="200" /></a>
            <strong><a href="index.html"><img src="/images/logo/logosn.png" alt="" width="38" /></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li id="homePageTab">
                        <a title="Landing Page" href="/" aria-expanded="false"><span
                                class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span>
                            <span class="mini-click-non">Trang chủ</span></a>
                    </li>
                    <li id="touristPackagePageTab">
                        <a title="Landing Page" href="/tourist_package" aria-expanded="false"><span
                                class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span>
                            <span class="mini-click-non">Quản lý gói du lịch</span></a>
                    </li>
                    <li>
                        <a title="Landing Page" href="events.html" aria-expanded="false"><span
                                class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span>
                            <span class="mini-click-non">Quản lý tài khoản</span></a>
                    </li>
                    <li>
                        <a title="Landing Page" href="events.html" aria-expanded="false"><span
                                class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span>
                            <span class="mini-click-non">Quảng cáo</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</div>
