<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            Welcome to homepage
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        HomePage.initLayout();
    });

    var HomePage = {
        initLayout: function() {
            $('.active').removeClass('active');
            $('#homePageTab').addClass('active');
        }
    }
</script>