<div class="container-fluid">
  <div class="analytics-info-cs">
    <h1>Tourist package NEW</h1>
  </div>
</div>

<script>
  $(document).ready(function () {
    TouristPackagePage.initLayout();
  });

  var TouristPackagePage = {
    initLayout: function () {
      $('.active').removeClass('active');
      $('#touristPackagePageTab').addClass('active');
      $('.breadcome-menu > li > a').first().html("Tourist Package").attr('href', '/tourist_package');
      $('.breadcome-menu > li > span').last().html("New");
    }
  }
</script>
