<div class="container-fluid">
  <div class="analytics-info-cs">
    <div class="basic-login-form-ad">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="all-form-element-inner">
            <%- include('form.ejs', { url: '/tourist_package/' + packageId + '/update' , method: 'POST' , data:
              packageData }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
